//
   Created by vegar on 20/11/16.

extends layout

append body
    .starter-template
        .container
            h1 Informasjon
            p.lead
                | Dette prosjektet blei initiert av Amalie Skram VGS for å gjere data fra bøya Gabriel tilgjengelig for studenter, og oppgaver sammen med dette. I eit samarbeid med Universitetet i Bergen har fire studenter som studerar informatikk laga denne løysinga for Amalie Skram VGS.

