extends layout

append body
    .starter-template
        .container
            h1 Hjelp
            p.lead
                | Hent ut ekte data fra bøyen Gabriel!
                br
                |  Gå til Spørring for å gjennomføre uthentingen.

