extends layout

append body
    .starter-template
        .container
            h1 Gabriel
            p.lead
                | Use this document as a way to quickly start any new project.
                br
                |  All you get is this text and a mostly barebones HTML document.
