extends ../node_modules/jade-bootstrap/_bootstrap
doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
    append body
        .navbar
            +navbar-fixed("Gabriel","navbar","inverse")
                li(class=(title == 'Gabriel') ? 'active' : undefined)
                    a(href='/') Hjem
                li(class=(title == 'Om') ? 'active' : undefined)
                    a(href='/about') Om
                li(class=(title == 'Spørring') ? 'active' : undefined)
                    a(href='/choices') Spørring
                li(class=(title == 'Kontakt') ? 'active' : undefined)
                    a(href='/contact') Kontakt