extends ../node_modules/jade-bootstrap/_bootstrap
doctype html
html
    head
        title= title
        styles
            link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

    append body
        .navbar
            +navbar-fixed("Ekte Data","navbar","inverse")
                li(class=(title == 'Ekte Data') ? 'active' : undefined)
                    a(href='/') Hjem
                li(class=(title == 'Hjelp') ? 'active' : undefined)
                    a(href='/help') Hjelp
                li(class=(title == 'Spørring') ? 'active' : undefined)
                    a(href='/queries') Spørring
                li(class=(title == 'Info') ? 'active' : undefined)
                    a(href='/about') Info